# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
build/
.eslintcache
.stylelintcache

# OS
.DS_Store
Thumbs.db
